* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  font-size: 16px;
}

/* background colors */
hgroup {background:#f5d55f;}
main {background:#fff}
aside {background:#fcf2cf}
footer {background:#937f39;}
	
h1, h2, h3, h4, h5 {
  font-family: Georgia, serif;
}

/* unvisited link */
a:link {
  color: #8B4000;
}

/* visited link */
a:visited {
  color: #8B4000;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: green;
}

/* lists */
ul {
  list-style-type: square;
}

li{
  margin: 10px 0;
}

/* Header section */
header {
  height:400px;
}

header img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 400px;
}

hgroup {
  text-align: center;
  color: #282828;
  padding:10px; 
  margin: 0;
}

/* The flexible grid (content) */
/* Column container */
section {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
aside {
  flex: 3;
  padding: 20px;
  order: 1;
}

/* Main column */
main {
  flex: 7;
  padding: 20px;
  order: 2;
}

main p { background-color: #faeaaf;
  padding: 20px;
  border-left: 6px solid #c4aa4c;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  section {   
    flex-direction: column;
  }
}
